

.sub-form{
	text-align: center;
	font-size: 40px;
	color: white;
}
.input{
	font-size: 40px;
}
.google{
	background-image:url(https://cdn3.f-cdn.com/contestentries/212081/10921447/5549c47a5792e_thumb900.jpg) ;
	background-size: cover; 

}
.email{
	background-image:url(https://www.seoclerk.com/pics/want44468-10iYXC1478385740.jpg) ;
	background-size: cover; 

}
.facebook{
	background-image:url(https://image.shutterstock.com/image-photo/software-abstract-background-programmer-developer-450w-493015252.jpg) ;
	background-size: cover; 

}

